<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">  
  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  <title>RemoteSensing Framework</title>
  
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
</head>

<body> <!-- Add your content of header -->
  <header>
    <nav class="w3-sidebar w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:250px;font-weight:bold;" id="mySidebar"><br>
      <div class="w3-container">
        <h3 class="w3-padding-64"><b><br>File Types</b></h3>
       <!--  <a href="" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Merged_IR</a> -->
        <a href="" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Sentinel-1</a> 
        <!-- <a href="" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Sentinel-2</a> -->
        <a href="" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">TRMM_DOWNLOADER</a> 
        <!-- 여기다가 이제.. Modis, Merged_IR, Sentinel-1, Sentinel-2, Summarization를 기존의 index.html으로 있는 것을 각각 타입에 맞게 다 바꿔서 넣어야 함-->
        <!-- <a href="" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Modis</a> -->
      </div>
    </nav>
    
    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
    
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">
    
      <!-- Header -->
      <div class="w3-container" style="margin-top:80px" id="showcase">
        <h2 class="w3-jumbo"><b>RemoteSensing Framework</b></h2>
      </div>
      <div class="section-container">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
              <h1 class="text-center">Choose a type and downloading periods </h1>
              
              <!-- 
              <p>Merged IR</p>
              <form action='/download/mergedir', method = 'POST'>
                <label for="mergedIR">Choose a type:</label>
                <select name="lists" id="lists">
                  <option value="GPM MergedIR.1">GPM MergedIR.1</option>
                </select>
              
                <label>
                  Period FROM 
                  <input type="date" name="periodfrom" min="1998-05-19" max="2021-09-31" required>
                  <span class="validity"></span>
                </label>
                <label>
                  Period To 
                  <input type="date" name="periodto" min="1998-05-19" max="2021-09-31" required>
                  <span class="validity"></span>
                </label>
                <button>Submit</button>
              </form>
              -->

              <p>Sentinel-1</p>
              <form action='/processors/trmmRT', method = 'POST'>
                <label for="sentinel_1">Type is sentinel1</label>
                <select name="lists" id="lists">
                  <option value="Sent1">Sentinel1</option>
                </select>
              
                <label>
                  Period FROM 
                  <input type="date" name="periodfrom" min="1998-05-19" max="2021-09-31" required>
                  <span class="validity"></span>
                </label>
                <label>
                  Period To 
                  <input type="date" name="periodto" min="1998-05-19" max="2021-09-31" required>
                  <span class="validity"></span>
                </label>
                <button>Submit</button>
              </form>
              <!-- 
              <p>Sentinel-2</p>
              <form action='/download/sentinel2', method = 'POST'>
                <label for="sentinel_2">Type is sentinel2</label>
                <select name="lists" id="lists">
                  <option value="Sent2">Sentinel2</option>
                </select>
              
                <label>
                  Period FROM 
                  <input type="date" name="periodfrom" min="1998-05-19" max="2021-09-31" required>
                  <span class="validity"></span>
                </label>
                <label>
                  Period To 
                  <input type="date" name="periodto" min="1998-05-19" max="2021-09-31" required>
                  <span class="validity"></span>
                </label>
                <button>Submit</button>
              </form>
              -->
              <p>TRMM Downloader</p>
              <form action='/downloads/trmmRT', method = 'POST'>
                <label for="trmm">Choose a type:</label>
                <select name="lists" id="lists">
                  <option value="TRMM_3B42RT.7">TRMM_3B42RT.7</option>
                  <option value="TRMM_3B42RT_Daily.7">TRMM_3B42RT_Daily.7</option>
                  <option value="TRMM_3B42RT_daily.007">TRMM_3B42RT_daily.007</option>                  
                </select>
                
                <label>
                  Period FROM 
                  <input type="date" name="periodfrom" min="2000-04-01" max="2021-09-31" required>
                  <span class="validity"></span>
                </label>
                <label>
                  Period To 
                  <input type="date" name="periodto" min="2000-04-01" max="2021-09-31" required>
                  <span class="validity"></span>
                </label>
                <button>Submit</button>
              </form>


              <p>TRMM Converter Operator</p>
              <form action='/professors/trmmrt', method = 'POST'>
                                
                <label>
                  Click below button to run Professor.  
                </label>
                <button>Submit</button>
              </form>
              <!--
              <p>MergedIR Converter Operator</p>
              <form action='/converter/mergedIR', method = 'POST'>
                <label>
                  Click below button to run Converter.  
                </label>
                <button>Submit</button>
              </form>
              -->
              <p>Sentinel-1 Converter Operator</p>
              <form action='/professors/sentinel1', method = 'POST'>
                <label>
                  Click below button to run Professoe.  
                </label>
                <button>Submit</button>
              </form>

              <br><br>

            </div>
          </div>
      </div>
    </div>
  </header>

  <style>
    body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
    body {font-size:16px;}
    .w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
    .w3-half img:hover{opacity:1}
  </style>


</html>

